<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form class="form-signin m-auto" method="post" action="#"
		th:object="${taskForm}" th:action="@{/edit/{id}(id=${taskForm.id})}" style="max-width: 50%;">

		<div class="form-group">
			<label for="title">タイトル</label> <input id="wrap" type="text"
				class="form-control" name="title" th:value="*{title}" /> <small
				th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
				class="err"></small>
		</div>

		<div class="form-group">
			<label for="conetnt">内容</label> <input type="text"
				class="form-control" name="content" th:value="*{content}" /> <small
				th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
				class="err"></small>
		</div>

		<div class="form-group">
			<label for="label"></label> <input type="text" class="form-control"
				name="label" th:value="*{label}" /> <small
				th:if="${#fields.hasErrors('label')}" th:errors="*{label}"
				class="err"></small>
		</div>

		<div class="form-group">
			<label for="sendUserId">送り先のID</label> <input type="text"
				class="form-control" name="sendUserId" th:value="*{sendUserId}" />
			<small th:if="${#fields.hasErrors('sendUserId')}"
				th:errors="*{sendUserId}" class="err"></small>
		</div>

		<div class="form-group">
			<label for="deadline">期限</label> <input type="text"
				class="form-control" name="deadline" th:value="*{deadline}" /> <small
				th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"
				class="err"></small>
		</div>
		<button type="submit" class="btn btn-primary">更新</button>
		<a href="/" class="btn btn-secondary btn-md ml-2" role="button"
			aria-pressed="true">戻る</a>
	</form>
</body>
</html>