<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: frag_head">
<title>Spring Sample Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body class="text-center">

	<div class="d-flex w-100 h-100 mx-auto flex-column">

		<header th:include="layout :: frag_body"></header>

		<main role="main" class="mt-auto mb-auto">
			<h3 th:text="${successed}"></h3>
			<h3 th:text="${failed}"></h3>
			<h3 th:text="${result}"></h3>

			<a href="#" th:href="@{/receivedTask}" class="btn btn-primary btn-sm"
				role="button" aria-pressed="true">頼まれたこと</a> <a href="#"
				th:href="@{/requestedTask}" class="btn btn-primary btn-sm"
				role="button" aria-pressed="true">頼みごと</a>
		</main>

		<footer th:include="layout :: frag_footer"></footer>
	</div>
</body>
</html>