<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Sample Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
</head>
<body>
	<h3 th:text="${successed}"></h3>
	<h3 th:text="${failed}"></h3>
	<h3 th:text="${result}"></h3>
	<form method="post" action="formPost">
		<span>name: </span> <span th:text="${username}"></span> <br /> <span>userId:
		</span> <span th:text="${userId}"></span> <br />
	</form>
	<a href="/">back</a>
	<form method="post" th:action="@{/logout}">
		<button class="btn btn-link pull-right navbar-brand" type="submit">
			ログアウト</button>
	</form>
	<a href="#" th:href="@{/createTask}" class="btn btn-primary btn-sm"
		role="button" aria-pressed="true">頼みごとの作成</a>
	<a href="#" th:href="@{/receivedTask}" class="btn btn-primary btn-sm"
		role="button" aria-pressed="true">頼まれたこと</a>
	<a href="#" th:href="@{/requestedTask}" class="btn btn-primary btn-sm"
		role="button" aria-pressed="true">頼みごと</a>
</body>
</html>