<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>頼みごとの詳細</h1>
	<table>
		<thead class="thead-dark">
			<tr>
				<th scope="col">タイトル</th>
				<th scope="col">内容</th>
				<th scope="col">ラベル</th>
				<th scope="col">送信元のID</th>
				<th scope="col">期限</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${taskForm}">
				<td th:text="${taskForm.title}"></td>
				<td th:text="${taskForm.content}"></td>
				<td th:text="${taskForm.label}"></td>
				<td th:text="${taskForm.userId}"></td>
				<td th:text="${taskForm.deadline}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/}">戻る</a>
</body>
</html>