<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>詳細</h1>
	<table>
		<thead class="thead-dark">
			<tr>
				<th scope="col">タイトル</th>
				<th scope="col">内容</th>
				<th scope="col">ラベル</th>
				<th scope="col">送信元のID</th>
				<th scope="col">期限</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${task.title}"></td>
				<td th:text="${task.content}"></td>
				<td th:text="${task.label}"></td>
				<td th:text="${task.userId}"></td>
				<td th:text="${task.deadline}"></td>
			</tr>
		</tbody>
	</table>
	<!-- 頼まれたタスク内容の大半は変更できないようにする -->
	<form method="post" th:object="${task}"
		th:action="@{/readTask/{id}(id=${task.id})}">
		<div th:each="item : ${status}" th:object="${status}">
			<input type="radio" name="status" th:text="${item.key}"
				th:value="${item.value}" th:checked="${item.key == '進行中'}">
		</div>
		<input type="hidden" name="userId" th:value="${task.userId}">
		<button type="submit" class="btn btn-primary ml-2">更新</button>
	</form>
	<a href="#" th:href="@{/}" class="btn btn-primary btn-sm" role="button"
		aria-pressed="true">戻る</a>

</body>
</html>