<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: frag_head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="text-center"
	style="background-color: #2EC4B6; color: #fff;">
	<div class="d-flex w-100 h-100 mx-auto flex-column">
		<header th:include="layout :: frag_body"></header>
		<main role="main" class="mb-auto">
			<h1 class="mt-5">頼まれたこと一覧</h1>

			<div class="container">
				<div class="row pb-5">
					<div class="col-md-6 mt-5">
						<div class="card" style="background-color: #E71D36;">
							<h5 class="card-header">これから取り組むこと</h5>
							<div class="card-body" style="color: #011627;">
								<div class="col-sm-12">
									<th:block th:if="${emptyNotExecuted}">
										<div class="card card-body mb-3" style="color: #011627;">
											<h5 th:text="${emptyNotExecuted}" class="card-title">完了した頼みごとはありません</h5>
										</div>
									</th:block>
									<div th:each="obj : ${notExecutedTask}"
										class="card linkbox card-body mb-3 text-left" style="">
										<h5 class="pb-2">
											<i th:style="${obj.label} eq 'blue' ? 'color: #1ec0ff;'"
												th:styleappend="${obj.label eq 'green' ? 'color: #3ac569;' : 'color: red;'}"
												class="fas fa-tags pr-2"></i><span
												class="card-title text-left font-weight-bold"
												th:text="${obj.title}"></span>
										</h5>

										<div class="card-text">
											<p>
												<i class="far fa-clipboard fa-lg pr-2"></i><span
													th:text="${obj.content}"></span>
											</p>
											<p class="h6 text-right">
												<i class="fas fa-user-edit pr-2"></i><span
													th:each="account : ${obj.account}"
													th:text="${account.username}" class="pr-2"></span> <i
													class="far fa-clock pr-2"></i><span
													th:text="${#dates.format(obj.deadline, 'yyyy-MM-dd HH:mm')}"></span>

											</p>
											<a href="#" th:href="@{/readTask/{userId}(userId=${obj.id})}"
												class="btn btn-sm" role="button" aria-pressed="true"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 mt-5">
						<div class="card" style="background-color: #0080ff;">
							<h5 class="card-header">完了したこと</h5>
							<div class="card-body" style="color: #011627;">
								<div class="col-sm-12">

									<th:block th:if="${emptyCompleted}">
										<div class="card card-body mb-3" style="color: #011627;">
											<h5 th:text="${emptyCompleted}" class="card-title">完了した頼みごとはありません</h5>
										</div>
									</th:block>

									<div th:each="obj : ${completedTask}"
										class="card linkbox card-body mb-3 text-left" style="">
										<h5 class="pb-2">
											<i th:style="${obj.label} eq 'blue' ? 'color: #1ec0ff;'"
												th:styleappend="${obj.label eq 'green' ? 'color: #3ac569;' : 'color: red;'}"
												class="fas fa-tags pr-2"></i><span
												class="card-title text-left font-weight-bold"
												th:text="${obj.title}"></span>
										</h5>

										<div class="card-text">
											<p>
												<i class="far fa-clipboard fa-lg pr-2"></i><span
													class="text-muted" th:text="${obj.content}"></span>
											</p>
											<p class="h6 text-right">
												<i class="fas fa-user-edit pr-2"></i><span
													th:each="account : ${obj.account}"
													th:text="${account.username}" class="pr-2"></span> <i
													class="far fa-clock pr-2"></i><span
													th:text="${#dates.format(obj.deadline, 'yyyy-MM-dd HH:mm')}"
													class="text-muted"></span>

											</p>
											<a href="#" th:href="@{/readTask/{id}(id=${obj.id})}"
												class="btn btn-sm" role="button" aria-pressed="true"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		<footer th:include="layout :: frag_footer"> </footer>
	</div>

</body>
</html>