<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>頼まれたこと一覧</h1>
	<h3 th:text="${none}"></h3>
	<table>
		<thead class="thead-dark">
			<tr>
				<th scope="col">タイトル</th>
				<th scope="col">内容</th>
				<th scope="col">ラベル</th>
				<th scope="col">送信してきたID</th>
				<th scope="col">期限</th>
				<th scope="col">詳細</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="obj : ${receivedTask}">
				<td th:text="${obj.title}"></td>
				<td th:text="${obj.content}"></td>
				<td th:text="${obj.label}"></td>
				<td th:text="${obj.userId}"></td>
				<td th:text="${obj.deadline}"></td>
				<td style=""><a href="#"
					th:href="@{/readTask/{id}(id=${obj.id})}"
					class="btn btn-danger btn-sm" role="button" aria-pressed="true">詳細</a></td>
			</tr>
		</tbody>
	</table>
	<a href="#" th:href="@{/}" class="btn btn-primary btn-sm" role="button"
		aria-pressed="true">戻る</a>

</body>
</html>