<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TaskMapper">
	<resultMap id="BaseResultMap"
		type="com.example.demo.domain.Task">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_addressee_id" property="userAddresseeId" />
	</resultMap>

	<resultMap id="FindOneResultMap"
		type="com.example.demo.domain.TaskForm">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_addressee_id" property="userAddresseeId" />
	</resultMap>

	<select id="findAllByUserId" resultMap="BaseResultMap">
		SELECT
		*
		FROM task
		WHERE user_id =
		#{userId}
	</select>
	
	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		*
		FROM task
	</select>

	<select id="findReceivedTask" resultMap="BaseResultMap">
		SELECT
		*
		FROM task
		WHERE
		send_user_id =
		#{userId}
	</select>

	<select id="findOne" resultMap="FindOneResultMap">
		SELECT
		*
		FROM task
		WHERE id =
		#{id}
	</select>

	<select id="findInProgressTask" resultMap="BaseResultMap">
		SELECT
		*
		FROM task
		WHERE
		user_id =
		#{userId}
		AND
		status = '未完'
	</select>

	<select id="findCompletedTask" resultMap="BaseResultMap">
		SELECT
		*
		FROM task
		WHERE
		user_id =
		#{userId}
		AND
		status = '完了'
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO
		task
		(title, user_id, content, label, deadline, user_addressee_id,
		status)
		VALUES
		(#{title},
		#{userId},
		#{content},
		#{label},
		#{deadline},
		#{userAddresseeId},
		#{status}
		)
	</insert>

	<update id="update">
		UPDATE
		task
		SET
		id = #{id}, user_id = #{userId}, title =
		#{title}, content
		= #{content}, label = #{label}, deadline =
		#{deadline}, user_addressee_id =
		#{userAddresseeId},
		status = #{status}
		WHERE
		id = #{id}
	</update>

	<update id="updateCompleted">
		UPDATE
		task
		SET
		id = #{id},
		status =
		#{status}
		WHERE
		id = #{id}
	</update>

	<delete id="delete">
		DELETE
		FROM
		task
		WHERE
		id = #{id}
	</delete>
</mapper>
